[submodule "Y2L-HTML-CSS-GIT-Lab1920"]
	path = Y2L-HTML-CSS-GIT-Lab1920
	url = https://github.com/tiffanychenn/Y2L-HTML-CSS-GIT-Lab1920.git
[submodule "Y2L-Bootstrap-Lab1920"]
	path = Y2L-Bootstrap-Lab1920
	url = https://github.com/tiffanychenn/Y2L-Bootstrap-Lab1920.git
