{% extends "base.html" %}

{% block body %}
<div class="container-1">
  <form method = "POST" action="/user_creation" class="form-signin">
    <h2 class="form-signin-heading" style="text-align: center;"> Register </h2><br>

    <label for="inputEmail">Username:</label>
    <input type="user" id="inputEmail" name="username" class="form-control" placeholder="Username" required autofocus><br>

    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password" required><br>

    <label for="inputPassword">Confirm password:</label>
    <input type="password" id="inputPasswordconfirm" name = "confirm" class="form-control" placeholder="Retype password" required><br>

    <button class="btn btn-sml btn-primary btn-block" type="submit" name="submitType" value="Register">Register</button>
  </form>
</div>
{% endblock %}
